name: "Build LaTex Document"
on:
  push:
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tex

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: actions/cache@v3
        name: Tectonic Cache
        with:
          path: ~/.cache/Tectonic
          key: ${{ runner.os }}-tectonic-${{ hashFiles('**/*.tex') }}
          restore-keys: |
            ${{ runner.os }}-tectonic-
      - uses: wtfjoke/setup-tectonic@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install JuliaMono # See https://jasonraimondi.com/posts/install-google-fonts-in-github-workflow/
        run: |
          wget -O JuliaMono-ttf.zip https://github.com/cormullion/juliamono/releases/latest/download/JuliaMono-ttf.zip
          unzip -d JuliaMono-ttf/ JuliaMono-ttf.zip
          mv JuliaMono-ttf /usr/share/fonts/
          fc-cache -fv
      - name: Run Tectonic
        run: tectonic -X build
      - name: Upload pdf
        uses: actions/upload-artifact@v3
        with:
          name: default
          path: tex/build/default/default.pdf
